<% include header.ejs %>
 <script type="text/javascript" src="/javascripts/react.min.js"></script>
     <script type="text/javascript" src="/javascripts/browser.min.js"></script>
	 	<div class="body-wrap">
	 		<div class="search">
	 			<div class="search-left">
	 				<img src="/images/1445765530_634647.png">
	 			</div>
	 			<div class="search-mid">
	 				<form>
	 					<input type="search" placeholder='双十一拍卖赶紧抢！'/><button>搜索</button>
	 				</form>
	 				<div class="search-provide">
	 					<ul>
	 						<li><a href="" class="red">美食1.2元</a></li>
	 						<li><a href="">金融1018</a></li>
	 						<li><a href="">复古女包</a></li>
	 						<li><a href="">农用物资</a></li>
	 						<li><a href="">送流量</a></li>
	 						<li><a href="">手链男</a></li>
	 						<li><a href="">被套</a></li>
	 						<li><a href="">西门子冰箱</a></li>
	 						<li><a href="">联想g50-80</a></li>
	 						
	 					</ul>
	 				</div>
	 			</div>
	 			<div class="search-right">
	 				<span><img src="/images/825D84C7-9B01-49D5-BEA5-A5647D8E507D.JPG"></span>
	 				<span><img src="/images/207B055AE6AC7434D199D612834456C3.png"></span>
	 			</div>
	 		</div>
	 		<div class="nav-two-box"><!-- 两个盒子 -->
					<div class="nav-left">
						<ul>
							<li class="cloth"><a href=""><i class="icon-heart"></i>衣服</a><i class=' icon-chevron-right'></i></li>
							<li class="boy"><a href=""><i class="icon-user"></i>男友</a><i class=' icon-chevron-right'></i></li>
							<li class="shoes"><a href="" ><i class=' icon-fighter-jet'></i>鞋子</a><i class=' icon-chevron-right'></i></li>
							<li class="bag"><a href=""><i class=' icon-briefcase'></i>包包</a><i class=' icon-chevron-right'></i></li>
							<li class="home"><a href="" ><i class=' icon-food'></i>家居</a><i class=' icon-chevron-right'></i></li>
							<li class="voc"><a href=""><i class='icon-gift'></i>配饰</a><i class=' icon-chevron-right'></i></li>
						</ul>
					</div>
					<div class="nav-right cloth">
						<dl class="type-section  type-section-one"> 
							<dt><a href="">上衣&nbsp;<i>TOPS</i></a></dt>
							<dd><a href="" class="red">春季新品</a></dd>
							<dd><a href=""> 衬衫</a></dd>
							<dd><a href=""> 短款外套</a></dd>
							<dd><a href=""> 早春外套</a></dd>
							<dd><a href=""> 套装</a></dd>
							<dd><a href=""> 小西装</a></dd>
							<dd><a href=""> 雪纺衫</a></dd>
							<dd><a href=""> 针织衫</a></dd>
							<dd><a href=""> T恤</a></dd>
							<dd><a href=""> 棒球外套</a></dd>
							<dd><a href=""> 风衣</a></dd>
							<dd><a href=""> 情侣装</a></dd>
							<dd><a href=""> 牛仔外套</a></dd>
							<dd><a href="" class="red"> 新款卫衣</a></dd>
						</dl>
					<!-- 	========two===========-->
					<dl class="type-section type-section-two"> 
							<dt><a href="">裤子&nbsp;<i>TROUSERS</i></a></dt>
							<dd><a href="" class="red">春季新款</a></dd>
							<dd><a href=""> 打底裤</a></dd>
							<dd><a href=""> 韩版短裤</a></dd>
							<dd><a href=""> 牛仔裤</a></dd>
							<dd><a href=""> 休闲裤</a></dd>
							<dd><a href=""> 小脚裤</a></dd>
							<dd><a href=""> 显瘦裤子榜</a></dd>
							<dd><a href=""> 韩范牛仔裤</a></dd>
							<dd><a href=""> 哈伦裤</a></dd>
							<dd><a href=""> 运动裤</a></dd>
							<dd><a href=""> 九分裤</a></dd>
							<dd><a href=""> 背带裤</a></dd>
							<dd><a href=""> 铅笔裤</a></dd>
							<dd><a href=""> 高腰裤</a></dd>
						</dl>

						<!-- =============three========= -->
						<dl class="type-section type-section-three"> 
							<dt><a href="">裙子&nbsp;<i>DRESSES</i></a></dt>
							<dd><a href="" class="red">春季美裙</a></dd>
							<dd><a href=""> 连衣裙</a></dd>
							<dd><a href=""> 裙子套装</a></dd>
							<dd><a href=""> 韩范美裙</a></dd>
							<dd><a href=""> 半身裙</a></dd>
							<dd><a href=""> 衬衫裙</a></dd>
							<dd><a href=""> 印花裙</a></dd>
							<dd><a href=""> 背带裙</a></dd>
							<dd><a href=""> 蕾丝裙</a></dd>
							<dd><a href=""> 雪纺裙</a></dd>
							<dd><a href=""> 高腰裙</a></dd>
							<dd><a href=""> 长裙</a></dd>
							<dd><a href=""> 长袖连衣帽</a></dd>
							<dd><a href=""> 包臀裙</a></dd>
						</dl>
						<!-- =========forth============ -->
						<dl class="type-section type-section-forth"> 
							<dt><a href="">内衣&nbsp;<i>UNDERWEARS</i></a></dt>
							<dd><a href="">初春睡衣</a></dd>
							<dd><a href=""> 甜美内衣</a></dd>
							<dd><a href=""> 内衣套装</a></dd>
							<dd><a href=""> 性感睡衣</a></dd>
							<dd><a href=""> 家居服</a></dd>
							<dd><a href=""> 功能型内衣</a></dd>
							<dd><a href=""> 无痕内衣</a></dd>
							<dd><a href=""> 睡裙</a></dd>
							<dd><a href=""> 文胸</a></dd>
							<dd><a href=""> 内裤</a></dd>
							<dd><a href=""> 外衣</a></dd>
							<dd><a href=""> 蕾丝内衣</a></dd>
							<dd><a href=""> 卡通睡衣</a></dd>
							<dd><a href=""> 小裹胸</a></dd>
						</dl>

					</div>
					<!-- 男友 -->
					<div class="nav-right boy">
						<dl class="type-section  type-section-one"> 
							<dt><a href="">上衣&nbsp;<i>TOPS</i></a></dt>
							<dd><a href="" class="red">春季新品</a></dd>
							<dd><a href=""> sad衫</a></dd>
							<dd><a href=""> asd外套</a></dd>
							<dd><a href=""> sd春外套</a></dd>
							<dd><a href=""> 套dsa装</a></dd>
							<dd><a href=""> 小sad装</a></dd>
							<dd><a href=""> 雪sad衫</a></dd>
							<dd><a href=""> 针dsa织衫</a></dd>
							<dd><a href=""> sda恤</a></dd>
							<dd><a href=""> 棒sad球外套</a></dd>
							<dd><a href=""> sa衣</a></dd>
							<dd><a href=""> 情s</a></dd>
							<dd><a href=""> 牛d外套</a></dd>
							<dd><a href="" class="red"> 新款卫衣</a></dd>
						</dl>
					<!-- 	========two===========-->
					<dl class="type-section type-section-two"> 
							<dt><a href="">裤子&nbsp;<i>TROUSERS</i></a></dt>
							<dd><a href="" class="red">春季新款</a></dd>
							<dd><a href=""> 打底裤</a></dd>
							<dd><a href=""> 韩版短裤</a></dd>
							<dd><a href=""> 牛仔裤</a></dd>
							<dd><a href=""> 休闲裤</a></dd>
							<dd><a href=""> 小脚裤</a></dd>
							<dd><a href=""> 显瘦裤子榜</a></dd>
							<dd><a href=""> 韩范牛仔裤</a></dd>
							<dd><a href=""> 哈伦裤</a></dd>
							<dd><a href=""> 运动裤</a></dd>
							<dd><a href=""> 九分裤</a></dd>
							<dd><a href=""> 背带裤</a></dd>
							<dd><a href=""> 铅笔裤</a></dd>
							<dd><a href=""> 高腰裤</a></dd>
						</dl>

						<!-- =============three========= -->
						<dl class="type-section type-section-three"> 
							<dt><a href="">裙子&nbsp;<i>DRESSES</i></a></dt>
							<dd><a href="" class="red">春季美裙</a></dd>
							<dd><a href=""> 连衣裙</a></dd>
							<dd><a href=""> 裙子套装</a></dd>
							<dd><a href=""> 韩范美裙</a></dd>
							<dd><a href=""> 半身裙</a></dd>
							<dd><a href=""> 衬衫裙</a></dd>
							<dd><a href=""> 印花裙</a></dd>
							<dd><a href=""> 背带裙</a></dd>
							<dd><a href=""> 蕾丝裙</a></dd>
							<dd><a href=""> 雪纺裙</a></dd>
							<dd><a href=""> 高腰裙</a></dd>
							<dd><a href=""> 长裙</a></dd>
							<dd><a href=""> 长袖连衣帽</a></dd>
							<dd><a href=""> 包臀裙</a></dd>
						</dl>
						<!-- =========forth============ -->
						<dl class="type-section type-section-forth"> 
							<dt><a href="">内衣&nbsp;<i>UNDERWEARS</i></a></dt>
							<dd><a href="">初春睡衣</a></dd>
							<dd><a href=""> 甜美内衣</a></dd>
							<dd><a href=""> 内衣套装</a></dd>
							<dd><a href=""> 性感睡衣</a></dd>
							<dd><a href=""> 家居服</a></dd>
							<dd><a href=""> 功能型内衣</a></dd>
							<dd><a href=""> 无痕内衣</a></dd>
							<dd><a href=""> 睡裙</a></dd>
							<dd><a href=""> 文胸</a></dd>
							<dd><a href=""> 内裤</a></dd>
							<dd><a href=""> 外衣</a></dd>
							<dd><a href=""> 蕾丝内衣</a></dd>
							<dd><a href=""> 卡通睡衣</a></dd>
							<dd><a href=""> 小裹胸</a></dd>
						</dl>

					</div><!-- 男友 -->
			</div><!-- 两个盒子结束 -->
			<div class="lbt">
				<div class="lbt-container">
					<div class="img-1"></div>
					<div class="img-2"></div>
					<div class="img-3"></div>
					<div class="img-4"></div>
					<div class="img-5"></div>

					<div id="button">
						<span index="1" class="on"></span>
						<span index="2"></span>
						<span index="3"></span>
						<span index="4"></span>
						<span index="5"></span>	
					</div>
				<a href="javascript:;" id="left" class="arrow">&lt;</a>
			    <a href="javascript:;" id="right" class="arrow">&gt;</a>
				</div>
			</div>
			<div class="picture" >
				 <div class="cloth-nav"> <!-- 衣服导航区 -->
					<div class="cloth-nav-left">
						<h1>衣服</h1>
						<ul>	
							<li><a href="" class="red first">热门</a></li>
							<li><a href="">最新</a></li>
							<li><a href="">爆款</a></li>
							<li><a href="">信用</a></li>
						</ul>
					</div>
					<div class="price-filter">
						<ul> 
							<li><a href="" class="red">全部</a></li>
							<li><a href="">0-100元</a></li>
							<li><a href="">101-200元</a></li>
							<li><a href="">201-500元</a></li>	
						</ul>
						<input type="text" name="price-area1">
						-
						<input type="text">
						<input type="submit" value="确定">
					</div>	
					<ul class="checkbox">
						<li>
							<input type="checkbox">
							<a href="">只看优选</a>
						</li>
					</ul>
				</div><!-- 衣服导航区 -->
				
			</div><!-- yf-wrap -->
			<div class="data_cloth">
				<div class="data-wrap" id="data-cloth">
					 <!--  <div class="data-cloth">
						<a href=""><img src="/images/cloth/1.jpg" /></a>
						<p><a href="">夏装时尚T恤+气质阔腿裤套装</a></p>
						<div class="data-title">
							<b>￥<i>89.00</i></b>
							<span><a href="">1881</a></span>
							<a class="add_shop" href="javascript:void(0)">加入购物车</a>
						</div>
					</div>  -->

				</div>
			</div>
	 	</div><!-- body-wrap -->
<div class="float_header">
	 <img src="/images/1445767133_698630.png">
	 <form>
	 	<input type="search" placeholder='双十一拍卖赶紧抢！'/><button>搜索</button>
	 </form>
	<span>联系热线:0546-1234567</span>
 </div>
 <% include footer.ejs %>
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <script type="text/babel" src="/javascripts/index.react.js"></script>
  <script type="text/javascript">
  $(function(){
	$(document).scroll(function(){
			var s1=document.documentElement.scrollTop||document.body.scrollTop;
			 if (s1>704) {
			 	$('.float_header').show('fast');
			 }else{
			 	$('.float_header').hide("fast");
			 }
	})
})
  </script>

