<% include header.ejs %>
<link rel="stylesheet" type="text/css" href="/stylesheets/suceess.css">

<div class="container">
	<div class="wrap">
		 <img src="/images/Checkmark_yes_48px_1187207_easyicon.net.png">
		 <p class="sp">商品已成功购买！</p>
		 <div class="word">
			 <button><a href="/favourite">去看看</a></button>
			 <p class="spp">您还可以<a href="/">继续购物</a></p>
		 </div>
	 </div>
	 <img class="gg" src="/images/1446126167_824921.png">
	 <img class="jj" src="/images/1446126404_435151.png">
</div>

<% include footer.ejs %>