<% include header.ejs %>
<div><a href="/">回到首页</a></div>
	<form method="post">
		<input type="name" placeholder="yourname" name="vip">
		<input type="password" placeholder="password" name="password">
		<input type="password" placeholder="repassword" name="repassword">
		<input type="telphone" placeholder="telephone">
		<input type="email" placeholder="email">
		<input type="submit" value="finish">
	</form>
<% include footer.ejs %>