<style type="text/css">
	.girdStyle{width: 950px;min-height: 400px;margin-left: 30px;}

</style> 
<div class="common-container">
	<div class="common-nav"><span>您现在的位置 >></span><a href="#charge">&nbsp;管理员</a></div>
	<div class="table" ng-controller="gridCtrl">
		 <div class="girdStyle" ng-grid='gridOptions'></div>
	</div>
</div>
