<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>fancy手机商城</title>
	<meta name=keywords content="">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
	<meta name="renderer" content="webkit">
	<link rel="shortcut icon" href="images/logo.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css-reset.css">
	<style type="text/css">
	body{font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;background-color: #f8f8f8;color:rgb(102, 102, 102);}
	a{text-decoration: none;color:rgb(102, 102, 102);}
	.container{width: 20rem;}
	.search{ background-color: #efefef;height: 45px;overflow: hidden;}
		.search span{float: left;width: 10%;height: 100%;
			text-align: center;
			display:block;
			background:url(/images/mobile/iconfont-error.png) center center no-repeat;
			}
		.search form{  float: left;width: 90%;height: 100%;}
			.search form input{
				margin-left: 3px;
			 box-sizing:content-box;
				-moz-box-sizing:content-box; /* Firefox */
				-webkit-box-sizing:content-box; /* Safari */ 
				 float: left;width: 80%;height:24px; padding: 4px; 
				border-left: 1px solid #bfbfbf;
				border-top:  1px solid #bfbfbf;
				border-bottom:  1px solid #bfbfbf;
				 margin-top:5px;outline: none; 
				 font-size: 15px;
				}
			.search form label{float: left;margin-left: -1px; border: 1px solid #bfbfbf;display: inline;width: 32px;height: 32px;margin-top:5px; }
				.search form label i{display:block;width: 25px;height: 25px; background:url(/images/mobile/iconfont-search-gray.png) 100% 100% no-repeat;}
		.hot-search { height: 30px;font-size: 14px;color: #999999; }
			.hot-search p{height: 100%;width: 100%; line-height: 30px;margin-left: 1rem;}
		.search-ci{ background-color: #eee;overflow: hidden;}
			.search-ci ul{overflow: hidden;padding: 15px 20px; }
			.search-ci ul li{float: left;margin: 5px 10px 5px 0;font-size: 16px;border: 2px solid #fff; 
				font-size: 14px;
				padding: 5px 10px;
					-moz-border-radius:10px;
		  			-webkit-border-radius: 10px;
		 			 border-radius: 10px; 
		 			}
	</style>
</head>
<body>
<div class="container">
	<div class="search">
		<a href="/"><span></span></a> 
		<form>
			<input type="search" name="q" autofocus="autofocus" ><label  for="q"><i></i> </label>
		</form>
	</div>
	<div class="hot-search">
		<p>热搜</p>
	</div>
	<div class="search-ci">
		<ul>
			<li>围巾</li>
			<li>达芙妮秋装</li>
			<li>西装男</li>
			<li>衬衫</li>
			<li>棉衣女</li>
			<li>洗发水</li>
			<li>林弯弯外套</li>
			<li>显瘦长袖连衣裙</li>
		</ul>
	</div>
</div>
</body>
<script type="text/javascript" src="/javascripts/rem-init.js"></script>
</html>