<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>购买成功</title>
	<meta name=keywords content="">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
	<meta name="renderer" content="webkit">
	<link rel="shortcut icon" href="images/logo.png">
	<link rel="stylesheet" type="text/css" href="/stylesheets/css-reset.css">
 	<style type="text/css">
		.container{
			width: 100%;
		}
		.chongzhi{
	 		color: #fff;
	 		background-color: #E26363;
	 		height: 50px;
	 		text-align: center;
	 		line-height: 50px;
	 		font-size: 16px;
	 		
	 	}
	 	.return{position: absolute;left: 10px;top:12px; color: #fff; background: url(/images/mobile/iconfont-left.png) no-repeat;background-size: cover; display: block;width: 24px;height: 24px;}
	 	.more{position: absolute;top: 15px; right: 12px; background: url(/images/mobile/iconfont-more.png) no-repeat;background-size: cover; display: block;width: 20px;height: 20px;}
		.wrap{
			width: 100%;
			display: inline-block;
			overflow: hidden;	
			margin-top: 80px;
		}
		.wrap img{float: left; width: 50px;height: 50px;}
		.sp{ color: rgb(67,212,144);float: left;margin-top: 20px;margin-left: 5px; font-size: 20px;}
		.word button{;width: 150px;height: 50px;outline: none;border: 0; background-color: rgb(237,66,69);cursor: pointer;}
		.word button a{text-decoration: none;color: #fff;font-weight: 600;font-size: 15px; } 
		.word{ 	
			margin-top: 5%;
			padding-left: 25%;						
		}
	 	.word .spp{margin-top: 5%; display:block;font-size: 20px;color: #000; }
	 	.word .spp a{color: rgb(192,0,0); text-decoration:underline;font-size: 20px; }
	 	.gg{width: 80%;margin-left: 15%;margin-top: 5%;}
 	</style>
</head>
<body>
<div class="container">
	<header class='chongzhi'>
 		<a href="/"><span class='return'></span></a>
 		购买成功
 		<span class='more'></span>
 	</header>
	<div class="wrap">
		<div style="overflow:hidden;padding-left:15%">
			 <img src="/images/Checkmark_yes_48px_1187207_easyicon.net.png">
			 <p class="sp">商品已成功购买！</p>
		</div>
		 <div class="word">
			 <button><a href="/mobile/myshop">去看看</a></button>
			 <p class="spp">您还可以<a href="/">继续购物</a></p>
		 </div>
	 </div>
	<img class="gg" src="/images/1446126167_824921.png">
</div>
</body>
</html>